.jumbotron.jumbotron-fluid {
	height: 620px;
	width: auto;
	padding-top: 160px;
	padding-bottom: 50px;
	background-image: url("/./img/herojumbo.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.font-jumbotron {
	font-family: Overpass;
	font-weight: 800;
}

@media screen and (max-width: 1000px) {
	.row.jumbo {
		display: flex;
		flex-flow: column-reverse;
	}
	.herocenter {
		text-align: center;
	}
	.image {
		height: 180px !important;
		width: 100% !important;
	}
}

/* base style */
body {
	background-color: #ebeef5;
}

.card {
	border-radius: 0.75rem;
}

.card-img,
.card-img-top {
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
}

.btn {
	border-radius: 0.5rem;
}

.form-control {
	border-radius: 0.5rem;
}

.alert {
	border-radius: 0.5rem;
}

.badge {
	border-radius: 0.5rem;
	padding: 0.375em 0.5em;
}

.rounded {
	border-radius: 0.75rem !important;
}
.rounded-top {
	border-top-left-radius: 0.75rem !important;
	border-top-right-radius: 0.75rem !important;
}

.img-thumbnail {
	border-radius: 0.75rem;
}

/* end base style */

.bg-greenblue {
	background: rgb(0, 69, 73);
	background: linear-gradient(
		63deg,
		rgba(0, 69, 73, 1) 0%,
		rgba(4, 53, 85, 1) 100%
	);
}

.bg-darkgreenblue {
	background: rgb(0, 20, 20);
	background: linear-gradient(
		63deg,
		rgba(0, 20, 20, 1) 0%,
		rgba(0, 27, 45, 1) 100%
	);
}

.image {
	height: 100px;
	width: 100%;
}
